.header {
    background-color: crimson;
    width: 800px;
    margin-bottom: 30px;
}

.logo {
    width: 150px;
    height: 100px;
    background-color:green;
    float: left;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.nav {
    width: 150px;
    height: 100px;
    background-color: blue; 
    float: right;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
}

.main {
    background-color: crimson;
    width: 800px;
    margin-bottom: 30px;
   
}

.clearfix {
    clear: both;
}

.wrap {
    float: right;
    margin-top: 50px;
    margin-bottom: 50px;
}

.nav-first {
    width: 60px;
    height: 40px;
    background-color: blue; 
    float: left;
    margin-right: 20px;
}

.nav-second {
    width: 70px;
    height: 40px;
    background-color: rgb(211, 2, 176); 
    float: left;
    margin-right: 30px;
}

.nav-fird {
    width: 70px;
    height: 40px;
    background-color: rgb(2, 211, 176); 
    float: left;
    margin-right: 30px;
}

.nav-fourth {
    width: 90px;
    height: 40px;
    background-color: yellow; 
    float: left;
    margin-right: 30px;
}

.cont {
    background-color: rgb(105, 226, 176);
    width: 800px;
    margin-bottom: 30px;
}

.page {
    width: 150px;
    height: 100px;
    background-color: yellow; 
    float: left;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.box {
    width: 150px;
    height: 100px;
    background-color: rgb(151, 7, 26); 
    float: left;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.pad {
    float: right;
}

.icon {
    background-color: rgb(123, 105, 226);
    width: 400px;
    float: left;
    margin-bottom: 30px;
}

.inner {
    width: 150px;
    height: 150px;
    background-color: rebeccapurple;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    float:right ;  
}

.cont-2 {
    background-color: rgb(123, 105, 226);
    width: 400px; 
    float: left;
    margin-bottom: 30px;
}

.aside {
    float: left;
}

.map {
    width: 150px;
    height: 65px;
    background-color: teal;
    margin-top: 20px;
    margin-bottom: 20px;
}

.pic {
    background-color: rgb(105, 226, 176);
    width: 800px;
}

.desc {
    width: 150px;
    height: 150px;
    background-color:blue;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    float: left;  
}

.title {
    width: 150px;
    height: 65px;
    background-color: teal;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
}

.lead {
  float: left;  
}

.picture {
   float: right; 
}