.header {
    background-color: crimson;
    width: 900px;
    margin-bottom: 30px;
}

.logo {
    width: 150px;
    height: 100px;
    background-color:green;
    float: left;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.nav {
    width: 150px;
    height: 100px;
    background-color: blue; 
    float: right;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
}

.main {
    background-color: crimson;
    width: 900px;
    margin-bottom: 30px;
   
}

.clearfix {
    clear: both;
}

.wrap {
    float: right;
}

.nav-first {
    width: 50px;
    height: 30px;
    background-color: blue; 
   float: left;
}

.nav-second {
    width: 60px;
    height: 30px;
    background-color: rgb(211, 2, 176); 
    float: left;
    
}
.nav-fird {
    width: 70px;
    height: 30px;
    background-color: yellow; 
    float: left;
    
}
